<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="simpletasks">
      <h2>{{ title }}</h2>
      <hr />
      <form @submit.prevent="addTask">
        <input
          v-model="newTask"
          type="text"
          name="newTask"
          id="newTask"
          value=""
          placeholder="Add new tasks here"
          class="noSelect"
        />
        <button type="submit" name="button" class="btn noSelect" id="addButton">
          <i class="fa fa-plus"></i> Add
        </button>
      </form>
      <ul>
        <li v-for="task in tasks" class="single-task">
          <div
            class="form-check abc-checkbox abc-checkbox-info abc-checkbox-circle"
          >
            <input
              type="checkbox"
              v-model="task.done"
              class="form-check-input noSelect"
              v-bind:id="task.id"
            />
            <label class="form-check-label" v-bind:for="task.id"></label>
            <span :class="{ done: task.done }">{{ task.text }}</span>
            <button
              @click="removeTask(task)"
              id="removeButton"
              class="noSelect"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
